In [1]:
import pandas as pd

In [3]:
# Read data 
df = pd.read_csv("./data/framingham.csv")

In [5]:
df.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [6]:
# Rename the 'male' to 'sex' for better understanding  
df.rename(columns={'male': 'sex'}, inplace=True)

In [7]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [8]:
# 0=female and 1=male(it is not a good presentaton for summarizing data)
# Let's replace '0' with female and '1' with male 
df['sex'].replace({0: 'female', 1:'male'}, inplace=True)

In [9]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,male,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,female,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,male,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,female,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,female,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [10]:
# Now replace '0' with non-smoker and '1' with smoker 
df['currentSmoker'].replace({0: 'nonsmoker', 1: 'smoker'}, inplace=True)

In [11]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,male,39,4.0,nonsmoker,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,female,46,2.0,nonsmoker,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,male,48,1.0,smoker,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,female,61,3.0,smoker,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,female,46,3.0,smoker,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [12]:
# replace the level 
df['education'].replace({1: 'High School', 2: 'High School or GED', 3: 'College or Vocational', 4:'college'}, inplace=True)

In [13]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,male,39,college,nonsmoker,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,female,46,High School or GED,nonsmoker,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,male,48,High School,smoker,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,female,61,College or Vocational,smoker,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,female,46,College or Vocational,smoker,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [14]:
# 0 = Not on Blood Pressure medications; 1 = Is on Blood Pressure medications
# Replace the value 
df['BPMeds'].replace({0: 'No', 1: 'Yes'}, inplace=True)

In [15]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,male,39,college,nonsmoker,0.0,No,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,female,46,High School or GED,nonsmoker,0.0,No,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,male,48,High School,smoker,20.0,No,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,female,61,College or Vocational,smoker,30.0,No,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,female,46,College or Vocational,smoker,23.0,No,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [16]:
# Let's categorise BMI
def bmi_cat(bmi):
    if bmi < 18.5:
        return 'underweight'
    elif bmi > 18.5 and bmi < 24.5:
        return 'normal'
    elif bmi > 25 and bmi < 29.5:
        return 'overweight'
    else:
        return 'obese'
# Apply bmiCat function
# Function apply to DataFrame 
df['bmiCat'] = df['BMI'].apply(bmi_cat)

In [17]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,bmiCat
0,male,39,college,nonsmoker,0.0,No,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0,overweight
1,female,46,High School or GED,nonsmoker,0.0,No,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0,overweight
2,male,48,High School,smoker,20.0,No,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0,overweight
3,female,61,College or Vocational,smoker,30.0,No,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1,overweight
4,female,46,College or Vocational,smoker,23.0,No,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0,normal

In [18]:
# 0 = No; 1 = Yes
# Replace the value 
df['diabetes'].replace({0: 'No', 1: 'Yes'}, inplace=True)

In [19]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,bmiCat
0,male,39,college,nonsmoker,0.0,No,0,0,No,195.0,106.0,70.0,26.97,80.0,77.0,0,overweight
1,female,46,High School or GED,nonsmoker,0.0,No,0,0,No,250.0,121.0,81.0,28.73,95.0,76.0,0,overweight
2,male,48,High School,smoker,20.0,No,0,0,No,245.0,127.5,80.0,25.34,75.0,70.0,0,overweight
3,female,61,College or Vocational,smoker,30.0,No,0,1,No,225.0,150.0,95.0,28.58,65.0,103.0,1,overweight
4,female,46,College or Vocational,smoker,23.0,No,0,0,No,285.0,130.0,84.0,23.10,85.0,85.0,0,normal

In [20]:
# 0 = No; 1 = Yes
# Replace the value 
df['prevalentHyp'].replace({0: 'No', 1: 'Yes'}, inplace=True)

In [21]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,bmiCat
0,male,39,college,nonsmoker,0.0,No,0,No,No,195.0,106.0,70.0,26.97,80.0,77.0,0,overweight
1,female,46,High School or GED,nonsmoker,0.0,No,0,No,No,250.0,121.0,81.0,28.73,95.0,76.0,0,overweight
2,male,48,High School,smoker,20.0,No,0,No,No,245.0,127.5,80.0,25.34,75.0,70.0,0,overweight
3,female,61,College or Vocational,smoker,30.0,No,0,Yes,No,225.0,150.0,95.0,28.58,65.0,103.0,1,overweight
4,female,46,College or Vocational,smoker,23.0,No,0,No,No,285.0,130.0,84.0,23.10,85.0,85.0,0,normal

In [22]:
# 0 = No; 1 = Yes
# Replace the value 
df['prevalentStroke'].replace({0: 'No', 1: 'Yes'}, inplace=True)

In [23]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,bmiCat
0,male,39,college,nonsmoker,0.0,No,No,No,No,195.0,106.0,70.0,26.97,80.0,77.0,0,overweight
1,female,46,High School or GED,nonsmoker,0.0,No,No,No,No,250.0,121.0,81.0,28.73,95.0,76.0,0,overweight
2,male,48,High School,smoker,20.0,No,No,No,No,245.0,127.5,80.0,25.34,75.0,70.0,0,overweight
3,female,61,College or Vocational,smoker,30.0,No,No,Yes,No,225.0,150.0,95.0,28.58,65.0,103.0,1,overweight
4,female,46,College or Vocational,smoker,23.0,No,No,No,No,285.0,130.0,84.0,23.10,85.0,85.0,0,normal

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sex              4240 non-null   object
 1   age              4240 non-null   int64
 2   education        4135 non-null   object
 3   currentSmoker    4240 non-null   object
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   object
 6   prevalentStroke  4240 non-null   object
 7   prevalentHyp     4240 non-null   object
 8   diabetes         4240 non-null   object
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
 16  bmiCat           4240 non-null   object
dtypes: float64(7), int64(2), object(8)
memory usage: 563.2+ KB

In [25]:
df.head()

,sex,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD,bmiCat
0,male,39,college,nonsmoker,0.0,No,No,No,No,195.0,106.0,70.0,26.97,80.0,77.0,0,overweight
1,female,46,High School or GED,nonsmoker,0.0,No,No,No,No,250.0,121.0,81.0,28.73,95.0,76.0,0,overweight
2,male,48,High School,smoker,20.0,No,No,No,No,245.0,127.5,80.0,25.34,75.0,70.0,0,overweight
3,female,61,College or Vocational,smoker,30.0,No,No,Yes,No,225.0,150.0,95.0,28.58,65.0,103.0,1,overweight
4,female,46,College or Vocational,smoker,23.0,No,No,No,No,285.0,130.0,84.0,23.10,85.0,85.0,0,normal

In [28]:
df.bmiCat.value_counts()

overweight     1654
normal         1641
obese           888
underweight      57
Name: bmiCat, dtype: int64

In [31]:
df[['bmiCat', 'currentSmoker']]

          bmiCat currentSmoker
0     overweight     nonsmoker
1     overweight     nonsmoker
2     overweight        smoker
3     overweight        smoker
4         normal        smoker
...          ...           ...
4235      normal        smoker
4236      normal        smoker
4237      normal     nonsmoker
4238  overweight     nonsmoker
4239      normal        smoker

[4240 rows x 2 columns]

In [26]:
df.to_csv("framingham.csv", index=False)